# ---------- Python ----------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/

# ---------- FastAPI ----------
.env
.env.*
*.log

# ---------- Node / React ----------
node_modules/
dist/
build/
.vite/

# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- IDE ----------
.vscode/
.idea/

# ---------- Database ----------
*.sqlite
*.db

# ---------- Tests ----------
.coverage
htmlcov/
